* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.home-page {
  width: 100vw;
}
.search-bar {
  width: 100%;
}
.row {
  align-items: stretch;
}
.card-img-top {
  height: 150px;
  background-image: url("./components/dummy.jpg");
  background-position: center;
  background-size: cover;
}
.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.card-link {
  text-decoration: none;
}
